@model IEnumerable<Prueba_Web.Models.tbl_Permisos>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Permisos</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha_permiso)
            </th>
            <th>
                <label>Usuario</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_permiso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._Usuarios.Nombre)
                @Html.DisplayFor(modelItem => item._Usuarios.Apellido)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_permiso" class="btn btn-outline-warning">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_permiso" class="btn btn-outline-info">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_permiso" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
