@model IEnumerable<Prueba_Web.Models.tbl_Control_actividades>

@{
    ViewData["Title"] = "Revision";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    var permisos = ViewBag.permisos;
}

<h1>Revision</h1>

<p class="text-md-right">
    <a asp-action="Index" class="btn btn-info">Regresar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha_actividad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actividades)
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_actividad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Actividades)
            </td>
        </tr>
    }
        @* seccion de permisos *@
    @foreach(var permiso in permisos)
    {
        <tr>
            <td>
                @permiso.Fecha_permiso
            </td>
            <td>
                Permiso @permiso.Nombre
            </td>
        </tr>
    }
    </tbody>
</table>
